In [1]:
import pandas as pd
import requests

api_key = "eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJzZWJhc3RpYW5yYW1vc3R1ZXJvcy5zcnRAZ21haWwuY29tIiwianRpIjoiMzAxNDNjMjMtZTRhZi00NTUzLTg5MGQtNGE4MGUwZTU4MDdmIiwiaXNzIjoiQUVNRVQiLCJpYXQiOjE3NjM3MzkxNzUsInVzZXJJZCI6IjMwMTQzYzIzLWU0YWYtNDU1My04OTBkLTRhODBlMGU1ODA3ZiIsInJvbGUiOiIifQ.aQ--PSJ6t6w4T78ATv32_REkGyiAWzcKPeN2EU07YpY"
base_url="https://opendata.aemet.es/opendata/api/valores/climatologicos/inventarioestaciones/todasestaciones"

response=(requests.get(base_url, params={"api_key":api_key})).json()

response2=(requests.get(response["datos"])).json()

df=pd.DataFrame(response2)

df.head()

,latitud,provincia,altitud,indicativo,nombre,indsinop,longitud
0,394924N,ILLES BALEARS,490,B013X,"ESCORCA, LLUC",08304,025309E
1,394744N,ILLES BALEARS,5,B051A,"SÓLLER, PUERTO",08316,024129E
2,394121N,ILLES BALEARS,60,B087X,BANYALBUFAR,,023046E
3,393446N,ILLES BALEARS,52,B103B,ANDRATX - SANT ELM,,022208E
4,393305N,BALEARES,50,B158X,"CALVIÀ, ES CAPDELLÀ",,022759E